@CHARSET "UTF-8";

.artmaps-navigation-link,
.artmaps-mapview-link {
    position:absolute;;
    width: 120px;;
    height: 40px;
    color: #fff;
    z-index: 10;
     top:80px;
}

#artmaps-navigation-home {
    left: 20px;
}

#artmaps-navigation-map {
    left: 140px;
}

#artmaps-navigation-loginout {
    left: 260px;
}

.artmaps-mapview-link {
    left: 380px;
}

.artmaps-navigation-link a,
.artmaps-mapview-link .artmaps-mapview-link-button {
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    padding-left: 120px;
    overflow:hidden;
    font-family: TateNewRegular, arial, sans-serif;
    font-size:14px;
    text-transform:uppercase;
    height:20px;
   
    
}
.artmaps-navigation-link a:hover,
.artmaps-mapview-link .artmaps-mapview-link-button:hover {cursor:pointer;}

#artmaps-navigation-home a {
    background:url('../content/icons-v2.png') no-repeat 0px 0;
}

#artmaps-navigation-map a {
    background:url('../content/icons-v2.png') no-repeat 0 -20px ;
}

#artmaps-navigation-loginout a {
    background:url('../content/icons-v2.png') no-repeat 0 -60px;
}

.artmaps-mapview-link .artmaps-mapview-link-button {
    background:url('../content/icons-v2.png') no-repeat 0 -40px;
}

#artmaps-navigation-loginout .artmaps-navigation-logout a {
    background:url('../content/icons-v2.png') no-repeat 0 -100px;
}