@charset "UTF-8";

#artmaps-object-container {
    min-width: 1000px;
    width: 1000px;
    margin: 0 auto;
}

#artmaps-object-container-object {
    float: left;
    font-size: 14px;
    width: 50%;
    max-width: 480px;
    min-height: 540px;
    position: relative;
    min-width: 320px;
    margin: 0;
    background: #fff;
    padding-bottom: 40px;
}

#artmaps-object-container-object img {
    float: left;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    min-width: 280px;
    max-width: 440px;
    max-height: 400px;
    display: block;
    cursor: pointer;
}

#artmaps-object-container-object p {
    padding: 0 10px;
    clear: both;
    display: block;
    margin-bottom: 0;
    padding-left: 20px;
}

.artmaps-object-image-large {
    text-align: center;
    overflow: visible !important;
    max-width: 80%;
    left: 10%;
    background: none;
}

}

.ui-dialog-titlebar {
    padding: 0 !important;
    z-index: 9999;
}

.artmaps-object-image-large .ui-dialog-titlebar-close {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 28px;
    margin: 0;
    padding: 1px;
    height: 28px;
    box-shadow: 0px 0px 10px 0px #777;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-radius: 14px !important;
}

.artmaps-object-image-large  img {
    max-width: 95%;
    height: auto !important;
    padding: 10px;
    max-height: 90% !important;
}

#artmaps-object-container-map {
    padding: 20px;
    background-color: rgb(245, 244, 240);
    display: block;
    min-height: 540px;
    float: left;
    font-size: 14px;
    width: 50%;
    max-width: 480px;
    min-height: 540px;
    position: relative;
    min-width: 320px;
}

#artmaps-object-container-map-canvas {
    height: 400px;
    clear: both;
}

#artmaps-object-container-map-canvas-key {
    font-size: 14px;
    overflow: hidden;
    font-family: TateNewRegular, arial, sans-serif;
    background: #f5f4f0;
    margin-top: 1px;
    width: 40%;
    float: right;
    border-bottom: 5px solid #f5f4f0;
    border-top: 5px solid #f5f4f0;
}

#artmaps-object-container-map-canvas-key span {
    padding-right: 10px;
    background: #f5f4f0;
    display: block;
    float: left;
    line-height: 25px;
    padding-left: 3px;
}

#artmaps-object-container-map-canvas-key span img {
    height: 25px;
    float: left
}

#artmaps-object-container-map-canvas-actions {
    text-align: center;
    position: relative;
    width: 60%;
    float: left;
    margin-top: 1px;
    background: #f5f4f0;
    border-bottom: 5px solid #f5f4f0;
    border-top: 5px solid #f5f4f0;
}

#artmaps-object-container-map-canvas-actions div {
    width: 60%;
}

#artmaps-object-container-map-canvas-actions-maptype-menu {
    background-color: #fff;
    list-style-type: none;
    line-height: 21px;
    padding: 0;
    width: 200px;
    position: absolute;
    z-index: 9999999;
    margin-bottom: 0;
    border: 1px solid #1f1f1f;
    left: -33px;
    top: 26px;
}

#artmaps-object-container-map-canvas-actions-maptype-menu li {
    background: #fff;
    padding: 5px 20px;
    color: #444;
    text-align: left;
    border-bottom: 1px solid #1f1f1f;
}

#artmaps-object-container-map-canvas-actions-maptype-menu li:last-child {
    border: none;
}

#artmaps-object-container-map-canvas-actions-maptype-menu li input[type=radio] {
    margin: 0 10px 0 0;
    line-height: 21px;
}

#artmaps-object-container-map-canvas-actions-maptype-menu li label {
    display: block;
}

#artmaps-object-container-map-canvas-actions-suggest {
    background: #ff0093;
}

#artmaps-comment-container {
    float: left;
    font-size: 14px;
    min-height: 200px;
    position: relative;
    padding: 20px;
    width: 100%;
    clear: both;
    display: block;
    padding: 60px 0 20px 0;
    font-size: 12px;
    background: url(../content/comment-bg.png) no-repeat center top;
    margin: -44px 0 0 0;
    color: #fff;
    position: relative;
    top: -30px;
}

#artmaps-comment-container > div {
    width: 1000px;
    margin: 0 auto;
}

#artmaps-comment-container h3 {
    font-size: 18px;
    padding: 0 100px 0 20px;
}

#artmaps-comment-container-action-comment {
    margin: 0 20px;
    position: absolute;
    right: 40px;
    top: 60px;
    padding: 5px 20px !important;
    font-size: 18px;
    background: #ff0093;
}

#artmaps-comment-container-action-blog {
    margin: 0 20px;
    position: absolute;
    right: 40px;
    top: 100px;
    padding: 5px 20px !important;
    font-size: 18px;
    background: #ff0093;
}

#artmaps-comment-container-comments {
    font-size: 18px;
    text-transform: uppercase;
    clear: both;
    padding: 20px;
}

#artmaps-comment-container-comments div {
    overflow: hidden;
    font-size: 16px;
    background: #1f1f1f url(../content/sml-comment-bg.png) no-repeat;
    text-transform: none;
    padding: 10px 40px 20px 40px;
    margin-left: -20px;
    margin-right: -20px;
}

#artmaps-comment-container-comments a {
    color: #ff0093;
}

#artmaps-comment-container-comments span:nth-child(3) {
    font-size: 12px;
}

#artmaps-blogthis-container textarea {
    min-height: 300px;
    font-family: monospace;
    font-size: 12px;
}

.artmaps-button {
    -webkit-appearance: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    border-radius: 0;
    border: none !important;
    cursor: pointer;
    color: #fff;
    outline: 0;
    overflow: visible;
    text-shadow: none;
    width: auto;
    margin: 0 5px;
    font-size: 14px;
    line-height: 25px;
    padding: 0 20px !important;
    font-weight: normal;
    display: block;
    float: left;
    margin: 2px;
    text-transform: uppercase;
    background: #1f1f1f;
}

.artmaps-button:hover {
    text-decoration: underline;
}

.ui-dialog-titlebar-close span {
    width: 28px;
    height: 28px;
    margin: 0;
}

.ui-widget-header .ui-icon {
    background: url(../content/close.png) no-repeat
}

.ui-widget-header .ui-icon:hover {
    background: url(../content/close.png) no-repeat 0 -28px;
}

.ui-dialog-content {
    padding-top: 0px !important;
}

.ui-dialog .ui-dialog-content {
    padding: 0;
}

.ui-widget-overlay {
    background: #000;
    opacity: 0.9;
}

.ui-resizable {
    border: none;
}

.pac-container {
    z-index: 9999 !important;
}

.ui-dialog {
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

.ui-widget-header {
    background: none !important;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

.ui-widget-header {
    border: none !important;
    background: none !important;
    z-index: 40;
}



.ui-dialog .ui-resizable-handle {
    display: none !important;
}

.ui-menu .ui-menu-item a,
.pac-container .pac-item {
    padding: 3px 10px;
    font-size: 12px;
    font-family: arial, sans-serif;
    color: #444;
    line-height: 21px;
}

.pac-container .pac-item {
    max-width: 236px;
}

.ui-menu .ui-menu-item a:hover,
.pac-container .pac-item:hover {
    color: #fff;
    background: #899197;
    margin: 0;
    border: none;
}
