<div id="artmaps-map-themap"></div>

<div id="artmaps-map-object-list-container-page" style="display: none;">
    <div class="artmaps-map-object-list-container-page">
        <ul class="artmaps-map-object-list-container-page-body"></ul>
        <div class="artmaps-map-object-list-container-page-nav">
      <span class="artmaps-map-object-list-container-page-previous artmaps-button">&larr; Prev</span>
      <span class="artmaps-map-object-list-container-page-current">Page 1 of 1</span>
      <span class="artmaps-map-object-list-container-page-next artmaps-button">Next &rarr;</span>
    </div>
    </div>
</div>

<div id="artmaps-search-results-artworks" class="keyword-search-results"></div>

<div id="artmaps-map-object-container" style="display: none;">
  <li class="artmaps-map-object-container">
    <a class="artwork-link">
      <img src="{'content/unavailable.png'|artmapsUri|dynImage:true:65}" />
      <h2 class="artmaps-map-object-container-name"></h2>
      Allegiance: <span class="artmaps-map-object-container-allegiance"></span><br />
      EventType: <span class="artmaps-map-object-container-eventtype"></span><br />
      Year: <span class="artmaps-map-object-container-year"></span><br />
    </a>
  <li>
</div>

<div id="welcome">
  <div class="inner">
    <h2>I need to be changed to some introductory text!!!</h2>
    <ul>
      <li class="more-info" id="more-info"><a href="#">More info</a></li>
      <li><a href="#" id="explore-map" class="primary">Get started</a></li>
    </ul>
  </div>
</div>