@CHARSET "UTF-8";

@font-face {
	font-family: 'TateNewRegular';
	src: url('css/tate-font/tatenew-regular-webfont.eot');
	src: url('css/tate-font/tatenew-regular-webfont.woff') format('woff'), url('css/tate-font/tatenew-regular-webfont.ttf') format('truetype'), url('css/tate-font/tatenew-regular-webfont.svg#webfontBdOvKvLB') format('svg');
	font-weight: normal;
	font-style: normal;
}


html,
body {
    border: 0px;
    margin: 0px !important;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: TateNewRegular, arial, sans-serif!important;
}

#artmaps-mapcontainer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
}

.artmaps-navigation-link,
.artmaps-search-link,
.artmaps-mapview-link {
    position:absolute;;
    width: 120px;;
    height: 40px;
    color: #fff;
    z-index: 10;
     top:80px;
}

#artmaps-navigation-home {
    left: 20px;
}

#artmaps-navigation-map {
    left: 140px; 
}

#artmaps-navigation-loginout {
    left: 500px;
}

.artmaps-mapview-link {
    left: 380px;
}

.artmaps-search-link {
    left: 260px;
}

.artmaps-navigation-link a,
.artmaps-mapview-link .artmaps-mapview-link-button,
.artmaps-search-link .artmaps-search-link-button
    {
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    padding-left: 120px;
    overflow:hidden;
    font-family: TateNewRegular, arial, sans-serif;
    font-size:14px;
    text-transform:uppercase;
    height:20px;
   
    
}
.artmaps-navigation-link a:hover,
.artmaps-mapview-link .artmaps-mapview-link-button:hover,
.artmaps-search-link .artmaps-search-link-button:hover {cursor:pointer;}

#artmaps-navigation-home a {
    background:url('../content/icons-v2.png') no-repeat 0px 0;
}

#artmaps-navigation-map a {
    background:url('../content/icons-v2.png') no-repeat 0 -20px ;
}

#artmaps-navigation-loginout a {
    background:url('../content/icons-v2.png') no-repeat 0 -60px;
}

.artmaps-mapview-link .artmaps-mapview-link-button {
    background:url('../content/icons-v2.png') no-repeat 0 -40px;
}

.artmaps-search-link .artmaps-search-link-button {
    background:url('../content/icons-v2.png') no-repeat 0 -80px;
}

#artmaps-navigation-loginout .artmaps-navigation-logout a {
    background:url('../content/icons-v2.png') no-repeat 0 -100px;
}

.artmaps-mapview-menu {
    background-color: #fff;
    list-style-type: none;
    line-height: 21px;
    padding: 0;
    width: 100%;
    position: absolute;
    top:40px;
    left: 0px;
    padding:0;  
    margin:0;
    text-transform:uppercase;
    font-size:14px;
    width:180px;
}

.artmaps-mapview-menu li {
    background: #fff;
    padding: 5px 20px;
    color: #444;
    text-align: left;
    border-bottom: 1px solid #1f1f1f;
}

.artmaps-mapview-menu li:last-child {
    border: none;
}

.artmaps-mapview-menu li input[type=radio] {
    margin: 0 10px 0 0;
    line-height: 21px;
}

.artmaps-mapview-menu li label {
    display: block;
}

#artmaps-search-dialog {
    font-size: 14px !important;
    line-height: 21px !important;
    padding: 20px !important;
}
#artmaps-search-dialog-keyword span,
#artmaps-search-dialog-location span {display:block; clear:both;}

#artmaps-search-dialog a {
    line-height: 30px;
}

input[type=text] {
    width: 240px;
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #999;
    margin: 0 0 10px 0;
    display: none;
    font-family: TateNewRegular, arial, sans-serif!important;
}

.ui-dialog .artmaps-searchbar-popup {
    height: 160px !important;
}
.ui-widget-content {border:none!important;}
.ui-widget-content .artmaps-search-button {
    padding: 0 20px;
    background: #ff0093;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    float: left;
    margin: 0 10px 10px 0;
    text-transform:uppercase;
}

.artmaps-object-list-popup {
    margin-left: 12px;
    margin-right: 12px;
    overflow-y: auto;
}

.artmaps-object-popup {
    display: block;
    clear: both;
    font-size: 14px;
    line-height: 21px;
    border-top: 1px solid #1f1f1f;
    margin-bottom: 10px;
    padding-top: 10px;
    overflow: hidden;
}


.ui-dialog .ui-dialog-content {padding:20px 20px 20px 0px;}


.ui-dialog-titlebar-close {top: 5px!important;
right: 5px!important;
left: auto!important;
margin:0!important;}

/* CLOSE BUTTON */

.ui-widget-header .ui-icon {background:url(../content/close.png) no-repeat}
.ui-widget-header .ui-icon:hover {background:url(../content/close.png) no-repeat 0 -28px;}
.ui-dialog .ui-dialog-titlebar-close {
right: 10px;
top: 10px;
width: 28px;
margin: 0;
padding: 1px;
height: 28px;


border-bottom-left-radius:0!important;
border-bottom-right-radius:0!important;
border-top-left-radius:0!important;
border-top-right-radius:0!important;
border-radius: 14px!important;}
.ui-dialog .ui-dialog-titlebar-close span {width:28px; height:28px; margin:0;}

.artmaps-object-popup:first-child {
    border-top: none;
}

.artmaps-object-popup img {
    max-width: 80px;
    max-height: 80px;
    padding: 5px 10px 5px 5px;
    float: left;    
}

.artmaps-object-popup a {
    background: #FF0093;
    padding: 5px 10px;
    color: white;
    margin: 5px 0;
    display: block;
    width: 120px;
    text-align: center;
    text-decoration: none;
    text-transform:uppercase;
    clear:both;
}

.ui-dialog {
    left: auto !important;
    top: 130px !important;
    left:10px!important;
    height: 70% !important;
    overflow-y: auto;
    width: 310px !important;;
    max-width: 100%;
}

.ui-widget-header {
    position: fixed !important;
    width: 30px;
    height: 30px;
}


/* SEARCH BOX */

.artmaps-searchbar-popup {left:10px!important; top:130px!important; height:auto!important;  font-family: TateNewRegular, arial, sans-serif!important;}
.ui-tabs .ui-tabs-nav {padding: 0;
width: auto;
overflow: hidden;
height: auto;
position: relative!important;}
.ui-tabs .ui-tabs-nav li a {padding:2px 10px; line-height:21px!important;;}
.ui-tabs .ui-tabs-panel {padding:0;}
.ui-widget {font-family: TateNewRegular, arial, sans-serif!important; font-size:14px;}

.artmaps-page-number,
.artmaps-next-button,
.artmaps-previous-button {float:left; padding:10px; background:#1f1f1f; margin-right:1px; color:#fff; margin-top:20px;}

.artmaps-next-button:hover,
.artmaps-previous-button:hover {cursor:pointer; background:#ffbf00; color:#1f1f1f}
