@CHARSET "UTF-8";

body.login {
    background: #e4e4e4;
}

#login {
    padding: 20px 0;
}

#login h1 {
    display: none;
}

.login form {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #bbc0c4;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    margin: 0;
}

.login form .input,
.login input[type="text"] {
    color: #44;
    font-weight: normal;
    font-size: 14px;
    line-height: 1;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #bbc0c4;
    background: #Fff;
    outline: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.login label {
    font-size: 12px;
    color: #444;
}

.login #nav a,
.login #backtoblog a,
a {
    color: #0090b5 !important;
    text-shadow: none;
}

input.button-primary,
button.button-primary,
a.button-primary,
input.button-primary:active,
button.button-primary:active,
a.button-primary:active {
    -webkit-appearance: none;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    border-radius: 11px;
    background: #bbc0c4;
    border: none !important;
    cursor: pointer;
    color: #fff;
    font: normal Arial, sans-serif;
    outline: 0;
    overflow: visible;
    text-shadow: none;
    width: auto;
    margin: 0 5px;
    font-size: 12px;
    padding: 2px 20px !important;
    font-family: arial, sans-serif;
    font-weight: normal
}

input.button-primary:active,
button.button-primary:active,
a.button-primary:active,
input.button-primary:hover,
button.button-primary:hover,
a.button-primary:hover {
    background: #899197;
}

.login #nav,
.login #backtoblog {
    background: #fff;
    border: solid #bbc0c4;
    border-width: 0 1px 0 1px;
    margin: 0;
}

.login #backtoblog {
    padding-bottom: 20px;
    border-bottom: 1px solid #bbc0c4;
}

#login_error,
.login .message {
    margin: 10px 0;
}

/*#loginform label[for="user_login"],
#loginform label[for="user_pass"],*/
hr#openid_split,
.login #nav {
    display: none;
}
