/*
Theme Name:     Tate2 ArtMaps
Theme URI:      http://www.tate2.org.uk
Description:    The Tate Gallery ArtMaps theme
Author:         Horizon
Author URI:     http://www.horizon.ac.uk
Template:       twentyeleven
Version:        0.1.0
*/
@CHARSET "UTF-8";

@import url("../twentyeleven/style.css");

/* Tate font */
@font-face {
    font-family: 'TateNewRegular';
    src: url('css/tate-font/tatenew-regular-webfont.eot');
    src: url('css/tate-font/tatenew-regular-webfont.woff') format('woff'),
        url('css/tate-font/tatenew-regular-webfont.ttf')
        format('truetype'),
        url('css/tate-font/tatenew-regular-webfont.svg#webfontBdOvKvLB')
        format('svg');
    font-weight: normal;
    font-style: normal;
}

html,body {
    font-family: TateNewRegular, arial, sans-serif;
    color: #444;
    background: #ffbf00;
    padding: 0px;
}

.ui-widget {
    
}

#artmaps-navigation-top {
    height: 120px;
    background: #1f1f1f url('content/logo.png') no-repeat;
}

.pac-container {
    z-index: 9999 !important;
}

.ui-dialog {
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

.ui-widget-header {
    background: none !important;
}

.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br {
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

.ui-widget-header {
    border: none !important;
    background: none !important;
    z-index: 40;
}

.ui-dialog .ui-dialog-titlebar {
    width: 300px;
    padding: 0 !important;
    z-index: 9999;
}

.ui-dialog .ui-resizable-handle {
    display: none !important;
}

.ui-menu .ui-menu-item a,.pac-container .pac-item {
    padding: 3px 10px;
    font-size: 12px;
    font-family: arial, sans-serif;
    color: #444;
    line-height: 21px;
}

.pac-container .pac-item {
    max-width: 236px;
}

.ui-menu .ui-menu-item a:hover,.pac-container .pac-item:hover {
    color: #fff;
    background: #899197;
    margin: 0;
    border: none;
}

ul.ui-autocomplete,.pac-container {
    width: 256px;
    max-height: 50%;
    overflow-y: auto;
    padding: 2px;
}

.home p {
    padding: 10px 10px 0 10px;
}

.home article {
    width: 680px;
    padding: 10px 10px 40px 10px;
    margin: 20px;
    background: #fff;
}